body {
    font-family: 'Mallanna', sans-serif;
    /* background: url("assets/img/dot-grid.png") repeat-y; */
    background-image: url("../img/dot-grid.png");
    height: 100%;
    background-repeat: repeat;

    /* background: #bcd3ce; */
    /* background-size: cover; */
}

li {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-family: 'Caveat', cursive;
    font-size: 30px;
}

.navbar {
    color: #55b8a2;
    background-color: #f2f2ed;
}

a:hover {
    color: #55b8a2;
}

/* .h1 {
    color: #55b8a2;
} */

.navbar-brand {
    color: #55b8a2;
}

.nav-link {
    color: black;
}

/* #navbarText .navbar-nav .nav-link {
    color: black;
} */

#main_section {
    background-color: #f2f2ed;
}

h2 {
    color: #55b8a2;
}

footer {
    /* background-color: #626262; */
    color: #626262;
}

.project {
    background-color: #234789;
    opacity: .8;
}

.card-img {
    opacity: .4;

}

.badge {
    background-color: #55b8a2;
}

.img-fluid {
    max-width: 50%;
}

.btn {
    background-color: #f2f2ed;
    opacity: .7;
}

/* #p.container {
    background: transparent;
    width: 1598px;
    height: 888px;
} */